.loader {
    -webkit-animation: Loader 3s linear infinite;
    animation: Loader 3s linear infinite;
}


@-webkit-keyframes Loader {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes Loader {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    }
}
